.dash-image {
  width: 100%;
}

.admin-top {
  display: flex;
}

.admin-top-left {
  width: 50%;
}

.admin-top-right {
  width: 50%;
  text-align: center;
  padding: 50px;
  font-size: larger;
}

.new-post-button {
  padding: 10px;
  text-decoration: none;

}
