.meet-top {
  background-color: black;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 200px;
}

.meet-top h1,
.meet-top p {
  color: $light-gray;
  text-align: left;
  padding: 10px;
}

.meet-top-text {
  display: flex;
  text-align: left;
}

.meet-top-text p {
  padding-right: 20px;
}

.meet-second {
  width: 100%;
  background-color: $med-gray;
  height: 800px;
}

.meet-amy-nikki {
  display: flex;
  background-color: black;
}

.meet-left {
  width: 50%;
  color: $light-gray;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 50px;
  padding-bottom: 100px
}

.meet-right {
  width: 50%;
  padding: 100px;
  color: $light-gray;
}

.meet-profile {
  height: 500px;
}

.meet-strip {
  width: 100%;
}
