<div class="top-footer">
  <%= image_tag 'logo.png', alt: 'logo', class: 'techni-logo' %>
    <div class="list-container">
        <ul class="footer-lists no-bullets">
          <li>Product</li>
            <br>
          <li><strong>Services</strong></li>
          <li><strong>Packages</strong></li>
          <li><strong>Book a Call</strong></li>
        </ul>
        <ul class="footer-lists no-bullets">
          <li>Explore</li>
            <br>
          <li><strong>Blog</strong></li>
        </ul>
        <ul class="footer-lists no-bullets">
          <li>Company</li>
            <br>
          <li><strong>About Us</strong></li>
          <li><strong>Contact Us</strong></li>
        </ul>
    </div>
</div>

<div class="bottom-footer">
  <p class="footer-item">2024 Techni Design Studios.</p>
  <p class="footer-item">Privacy Policy.</p>
  <p class="footer-item">Terms of Service</p>
</div>
