  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid d-flex align-items-center">
        <%= image_tag 'logo.png', alt: 'logo', class: 'techni-little-logo' %>
        <h1 id="nav-sig" class="navbar-brand mb-0">techni</h1>
        <ul class="navbar-nav ms-auto d-flex flex-row">
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="#contact">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="#contact">WORK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="#contact">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="#contact">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
