<div class="contact-container">
  <div class="contact-left">
    <p>/WHERE TO FIND US</p>
    <br>
    <h1 class="bigger-h1">Say Hi!</h1>
  </div>
  <div class="contact-right">
    <h1>contact form here</h1>
  </div>
</div>
