<div class="meet-top">
  <p>/MEET THE TEAM</p>
  <h1 class="bigger-h1">Welcome to Techni Design <br>
  Studios</h1>
    <div class="meet-top-text">
    <p>From the open seas to the digital world, Amy <br>
    and Nikki bring a unique blend of creativity, <br>
    precision, and teamwork honed as former yacht<br>
    chefs. Now, they channel that same dedication <br>
    into web design and development, crafting <br>
    beautifully designed, high-performing websites</p>

    <p>that work as smoothly as they look. With Amy's <br>
    keen eye for design and Nikki's technical  <br>
    expertise, they're here to make your brand <br>
    stand out with style and reliability. Clients can <br>
    trust them to handle the heat - whether it's in<br>
    the kitchen or in their next project.</p>
  </div>
</div>

<div class="meet-second">

</div>

<div class="meet-amy-nikki">
  <div class="meet-left">
    <h1 class="bigger-h1">MEET NIKKI</h1>
    <br>
    <h5>The Tech Wizz</h5>
    <p>Nikki is a skilled developer with a nack for turning <br>
      complex concepts into seamless digital solutions. <br>
      With a deep understanding of web technologies and <br>
      a commitment to functionality , she brings project to <br>
      life with clean, efficient code. Nikki's expertise <br>
      ensures that every design performs flawlessly, <br>
      delivering a user experience that's both intuitive and <br>
      robust. Her approach combines technical precision <br>
      with a thoughtful, client-focused process.
    </p>
  </div>

  <div class="meet-right">
    <%= image_tag "nikki.png", alt: "Profile photo of Nikki", class: "meet-profile" %>
  </div>
</div>

<%= image_tag "meet-strip.png", alt: "Strip of photos showing previous projects", class: "meet-strip" %>

<div class="meet-amy-nikki">
  <div class="meet-left">
    <%= image_tag "amy.png", alt: "Profile photo of Amy", class: "meet-profile" %>
  </div>
  <div class="meet-right">
    <h1 class="bigger-h1">MEET AMY</h1>
    <br>
    <h5>The Design Guru</h5>
    <p>An experienced designer with a passion for creating <br>
      user centered digital experiences. Amy brings a <br>
      unique blend of creativity and technical precision to <br>
      every project. Known for her eye for detail and <br>
      commitment to quality. Amy specializes in building<br>
      visually compelling, intuitive designs that elevate <br>
      brands and engage audiences. From brand identity <br>
      to responsive web design, Amy is dedicated to<br>
      transforming ideas into polished, impactful visuals <br>
      tailored to each client's needs.
    </p>
    </div>
</div>

<div class="bottom-container">
  <div class="project-callout">
    <span class="main-text">Have a project in mind?</span>
    <span class="reveal-text"> get in touch</span>
  </div>

  <div class="center-wrapper">
    <a class="get-in-touch" href="#">Get In Touch</a>
  </div>
</div>
