<div class="meet-top">
  <p>/MEET THE TEAM</p>
  <h1 class="bigger-h1">Welcome to Techni Design <br>
  Studios</h1>
    <div class="meet-top-text">
    <p>From the open seas to the digital world, Amy <br>
    and Nikki bring a unique blend of creativity, <br>
    precision, and teamwork honed as former yacht<br>
    chefs. Now, they channel that same dedication <br>
    into web design and development, crafting <br>
    beautifully designed, high-performing websites</p>

    <p>that work as smoothly as they look. With Amy's <br>
    keen eye for design and Nikki's technical  <br>
    expertise, they're here to make your brand <br>
    stand out with style and reliability. Clients can <br>
    trust them to handle the heat - whether it's in<br>
    the kitchen or in their next project.</p>
  </div>
</div>
