<div class="services-top">
  <p>/OUR SERVICES</p>
  <h1 class="bigger-h1">Future Proof Your digital <br>
  Presence.</h1>
  <div class="services-top-text">
    <p>At Techni Design Studios, we're all about <br>
    transforming ideas into exceptional digital <br>
    experiences. With a seamless blend of eye- <br>
    catching design and rock-solid development, <br>
    our services are crafted to meet the unique <br>
    needs of each client. From building your brand</p>

    <p>identity to developing a responsive, engaging <br>
    website. We're are here to help you stand out in <br>
    today's digital landscape. Dive into our <br>
    offerings and discover how we can bring your <br>
    vision to life-reliably, creatively, and with a <br>
    personal touch honed by years of experience.</p>
  </div>
</div>

<div class="services-second">
  <%= image_tag "services-cover.png", alt: "Cover photo of some of our designs", class: "services-cover" %>
</div>
