<div class="services-top">
  <p>/OUR SERVICES</p>
  <h1 class="bigger-h1">Future Proof Your digital <br>
  Presence.</h1>
  <div class="services-top-text">
    <p>At Techni Design Studios, we're all about <br>
    transforming ideas into exceptional digital <br>
    experiences. With a seamless blend of eye- <br>
    catching design and rock-solid development, <br>
    our services are crafted to meet the unique <br>
    needs of each client. From building your brand</p>

    <p>identity to developing a responsive, engaging <br>
    website. We're are here to help you stand out in <br>
    today's digital landscape. Dive into our <br>
    offerings and discover how we can bring your <br>
    vision to life-reliably, creatively, and with a <br>
    personal touch honed by years of experience.</p>
  </div>
</div>

<div class="services-second">
  <%= image_tag "services-cover.png", alt: "Cover photo of some of our designs", class: "services-cover" %>
</div>

<div class="services-third">
  <div class="title-text">
    <h1 class="services-third-left bigger-h1">Website Design & <br> Developement</h1>
    <p class="services-third-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
       magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
  <div class="services-accordian">
        <div class="accordion-container">
          <div class="accordion-item">
            <div class="accordion-header" data-target="#content-1">
              <span class="heading">Website Design</span>
              <span class="plus">+</span>
            </div>
            <div class="accordion-content" id="content-1">
              <ul>
                <li>Bullet point 1</li>
                <li>Bullet point 2</li>
              </ul>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-header" data-target="#content-2">
              <span class="heading">Website Development</span>
              <span class="plus">+</span>
            </div>
            <div class="accordion-content" id="content-2">
              <ul>
                <li>Bullet point 1</li>
                <li>Bullet point 2</li>
              </ul>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-header" data-target="#content-3">
              <span class="heading">SEO</span>
              <span class="plus">+</span>
            </div>
            <div class="accordion-content" id="content-3">
              <ul>
                <li>Bullet point 1</li>
                <li>Bullet point 2</li>
              </ul>
            </div>
          </div>
    </div>
  </div>
</div>

<div class="services-fourth">
  <%= image_tag "services-placeholder.png", alt: "Cover photo of some of our designs", class: "services-placeholder" %>
</div>

<div class="services-fifth">
  <div class="title-text">
    <h1 class="services-fifth-left bigger-h1">Brand Design & <br> Strategy</h1>
    <p class="services-fifth-right">Let us help you tell your story in a way that's <br>
    memorable, impactful, and designed to grow <br>
    with you</p>
  </div>
  <div class="services-accordian">
        <div class="accordion-container">
          <div class="accordion-item">
            <div class="accordion-header" data-target="#content-1">
              <span class="heading">Brand Analysis & Strategy</span>
              <span class="plus">+</span>
            </div>
            <div class="accordion-content" id="content-1">
              <ul>
                <li>Bullet point 1</li>
                <li>Bullet point 2</li>
              </ul>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-header" data-target="#content-2">
              <span class="heading">Logo Suite</span>
              <span class="plus">+</span>
            </div>
            <div class="accordion-content" id="content-2">
              <ul>
                <li>Bullet point 1</li>
                <li>Bullet point 2</li>
              </ul>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-header" data-target="#content-3">
              <span class="heading">Style Guide</span>
              <span class="plus">+</span>
            </div>
            <div class="accordion-content" id="content-3">
              <ul>
                <li>Bullet point 1</li>
                <li>Bullet point 2</li>
              </ul>
            </div>
          </div>
    </div>
  </div>
</div>

<div class="bottom-container">
  <div class="project-callout">
    <span class="main-text">Have a project in mind?</span>
    <span class="reveal-text"> get in touch</span>
  </div>

  <div class="center-wrapper">
    <a class="get-in-touch" href="#">Get In Touch</a>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".accordion-header").forEach(header => {
      header.addEventListener("click", () => {
        const targetId = header.getAttribute("data-target");
        const content = document.querySelector(targetId);
        content.classList.toggle("active");
      });
    });
  });
</script>
