.top-footer {
  display: flex;
  background-color: #000000;
  color: #ffffff;
  margin: 0 !important;
  height: 300px;
  border-bottom: 1px solid #ffffff;
}

.techni-logo {
  height: 250px;
  border-radius: 50px;
  padding: 70px;
}

.footer-lists {
  padding: 90px;
  text-decoration: none;
  flex: 1;
}

.no-bullets {
  list-style-type: none;
  margin: 0;
}

.list-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bottom-footer {
  display: flex;
  color: #ffffff;
  background-color: #000000;
  padding-left: 30px;
  padding-top: 30px;
}

.footer-item {
  padding-left: 50px;
}
