.navbar-custom {
  background-color: #000000 !important;
  color: #ffffff !important;
  border-bottom: 1px solid #ffffff !important;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1000;
}

#nav-sig {
  padding-left: 5px;
}

.techni-little-logo {
  height: 50px;
  padding-left: 50px;
}

.nav-item {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.navbar-custom .navbar-brand {
  color: #ffffff !important;
}

.navbar-custom .nav-link {
  color: #ffffff !important;
  position: relative;
  text-decoration: none;
  font-weight: 150 !important;
}

.navbar-custom .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.navbar-custom .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-custom .navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.navbar-custom .nav-item {
  margin-left: 10px;
}

@media only screen and (max-width: 375px) {
  .navbar-custom .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #nav-sig {
    padding: 0 !important;
    font-size: 1.5rem; /* Adjust font size if necessary */
    margin-right: auto; /* Align the brand to the left */
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: auto; /* Adjust width */
  }

  .nav-item {
    padding: 0 10px !important; /* Reduce padding for mobile */
  }

  .navbar-custom .navbar-brand {
    padding-left: 10px; /* Adjust padding to align with other elements */
  }

  .navbar-custom .navbar-nav {
    margin-right: 10px; /* Align nav links with the brand */
  }

  .techni-little-logo {
    padding-left: 5px;
  }
}
